*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F1F5F9;
    font-family:Inter,Arial,sans-serif;
    color:#1E293B;
}

button{
    cursor:pointer;
    border:none;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #CBD5E1;
    outline:none;
    font-size:15px;
}

input:focus,
select:focus,
textarea:focus{
    border:1px solid #16A34A;
}

table{
    width:100%;
}